body            { font-family: sans-serif; background: #31312F; margin:0;}
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: ‘Arial’, serif; margin-top: 0.5em; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
div             { border: 1px solid red; } /* debug purpose */
div.mainpage    {
                    margin: 0px;
                    whidth: 100%;
                }
div.internal    {
                    margin: 50px;
                }
label           {
                    display: block;
                    clear: both;
                }
.searchlabel    {
                    color: red;
                    margin: auto;
                }

footer		    {
                    position: relative;
                    bottom: 0;
                    height: 10vh;
                }
.footermenu     {
                    position: absolute;
                    bottom: 8px;
                    left: 8px;
                }
.fslogo         {
                    height: 100%;
                    float: right;
                    /* align: middle; */
                }
