<!doctype html>
<html>
    <head>
        <title>InfiniteOrchestra</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}?{{ rannum }}">
    </head>
    <body>
        <div class="mainpage">
            <img src="{{ url_for('static', filename = 'SC-Cabecera.png') }}" style="width:100%;" align="middle" alt="Freesound.org">
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
            {% block body %}
            {% endblock %}
            {% block footer %}
                <div class="internal footer">
                    <footer>
                        <a href="http://freesound.org/" target="_blank">
                            <img src="{{ url_for('static', filename = 'freesound.png') }}" class="fslogo" alt="Freesound.org">
                        </a>
                        <img src="{{ url_for('static', filename = 'mtg.svg') }}" class="fslogo" alt="Music Technology Group">
                        <div class="footermenu">
                            InfiniteOrchestra:
                            <a href="{{ url_for('show_index') }}">Home</a>
                            <a href="{{ url_for('search_form') }}">Participate</a>
                            <a href="{{ url_for('archive') }}">Archive</a>
                        </div>
                    </footer>
                </div>
            {% endblock %}
        </div>
    </body>
</html>